<div class="container p-4">

    <div class="row">
        <div class="col-12">
            <h2>Acerca de Leonardo Hotel Milan City Center</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-6">
            <label><i class="bi bi-card-checklist"></i> Excelentes Servicios</label><br>
            <p>Tendrás una habitación privada con todas las comodidades del hotel</p>
        </div>
        <div class="col-12 col-md-6">
            <label><i class="bi bi-droplet"></i> Limpio y ordenado</label><br>
            <p>Este alojamiento ha enumerado varias prácticas de limpieza diferentes</p>
        </div>
    </div>
    
    <div class="row">
        <div class="col-12 col-md-6">
            <label><i class="bi bi-check-lg"></i> Gratis</label><br>
            <p>La estancia incluye este servicio gratuito: wifi</p>
        </div>
    </div>
    <p>Leonardo Hotel Milan City Center se encuentra en Porta Garibaldi (Milán), a apenas 15 minutos en coche de Santa María de las Mercedes y Teatro alla Scala. Tendrás un centro de negocios, periódicos gratuitos en el vestíbulo y tintorería a tu disposición. Hay un aparcamiento sin asistencia (de pago) disponible.</p>

    <div class="row my-5 mt-2">
        <div class="col-3">
            <img src="../../assets/img/servicio1.jpg" alt="" class="img-fluid">
        </div>
        <div class="col-3">
            <img src="../../assets/img/servicio2.jpg" alt="" class="img-fluid">
        </div>
        <div class="col-3">
            <img src="../../assets/img/servicio3.jpg" alt="" class="img-fluid">
        </div>
        <div class="col-3">
            <img src="../../assets/img/servicio4.jpg" alt="" class="img-fluid">
        </div>
    </div>

</div>
