<div class="collapse" id="navbarToggleExternalContent">
  <div class="bg-dark p-4">
    <h5 class="text-white h4">Sofitel Legend Santa Clara</h5>
    <span class="text-muted">No es un hotel y ya, es el lugar perfecto para reir,disfrutar y soñar</span>
  </div>
</div>

<nav class="navbar fixed-top navbar-dark bg-dark">
  <div class="container-fluid">
      <a class="navbar-brand" href="#">
          <img src="../../../assets/img/logo.jpg" alt="Bootstrap" width="40" height="40">
      </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>
