
    <div class="main-content">
        <div class="left box">
            <h2>About us</h2>
            <div class="content">
                <p>El Leonardo Hotel Milan City Center da la bienvenida a los huéspedes con estilo. En su interior, el hotel de cuatro estrellas cuenta con todo lo necesario para que disfrute de una estancia relajada, desde el vestíbulo decorado clásicamente hasta elegantes interiores con mobiliario de estilo renacentista, estatuas, pinturas y tapices en todo su espléndido interior.</p>
                <div class="social">
                    <a href="#"><span><i class="bi bi-facebook"></i></span></a>
                    <a href="#"><span><i class="bi bi-instagram"></i></span></a>
                    <a href="#"><span><i class="bi bi-twitter"></i></span></a>
                    <a href="#"><span><i class="bi bi-youtube"></i></span></a>
                </div>
            </div>
        </div>
        <div class="center box">
            <h2>Address</h2>
            <div class="content">
                <div class="place">
                    <span><i class="bi bi-geo-alt-fill"></i></span>
                    <span>Via Messina, 10, 20154 Milano MI, Italia</span>
                </div>
                <div class="place">
                    <span><i class="bi bi-telephone-fill"></i></span>
                    <span> +39 02 318170</span>
                </div>
                <div class="place">
                    <span><i class="bi bi-envelope-fill"></i></span>
                    <span>hotelLeonardo@gmail.com</span>
                </div>
            </div>
        </div>
        <div class="rigth box">
            <h2>Contact us</h2>
            <div class="content">
                <form action="#">
                    <div class="email">
                        <div class="text">Email</div>
                        <input type="email" required>
                    </div>
                    <div class="msg">
                        <div class="text">Message</div>
                        <textarea cols="25" rows="2" required></textarea>
                    </div>
                    <div class="btn">
                        <button type="submit">Send</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

